{% extends "booking/templatePage.html" %}

{% block title %}
Бронь
{% endblock %}


{% block content %}
    <h1>Бронь</h1>
    <form method="post" action="">
        {% csrf_token %}

        {{ form.band_id }}<br>
        {{ form.rehearsal_date }}<br>
        {{ form.duration }}<br>
        {{ form.location }}<br>

        <span>{{ error }}</span><br>

        <!--<input type="text" placeholder="Enter date you want to book repetition" class="form-control" name="" id="">-->
        <button type="submit" class="btn btn-success">Send</button>
    </form>

    <ul>
        {% for el in rehearsals %}
            <li>{{ el.band_id }}</li>
        {% endfor %}
    </ul>
{% endblock %}